.vcenter-text {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear alternate;
  height: 80px;
  transform: rotate(-10deg);
}

.footer {
  text-align: center;
  margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(-10deg); }
  to { transform: rotate(10deg); }
}

.maingrid {
  margin-bottom: 20px;
  margin-left: 20px;
}

.vertcenter {
  display: flex;
  align-items: center;
}

.card-block .progress {
  background-color: rgb(72, 85, 99) !important;
}

.margin-tb {
  padding-top: 10px;
  padding-bottom: 10px;
}
